.top-toolbar {
  position: fixed;
  top: 0;
}

.top-toolbar-title {
  // margin-left: 8px;
  width: 100%;
  text-align: center;
  padding-right: 40px;
}

.top-toolbar-spacer {
  flex: 1 1 auto;
}

.content-container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100% - 40px); // total - padding-y
  overflow-y: auto;
  background-color: white;
}

.content {
  max-width: 680px;
  margin: auto;
}
